<div class="cadastro">
    <h2 class="title">CADASTRO DE TAREFAS</h2>
    <form class="form" (ngSubmit)="adicionarTarefa()">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" [(ngModel)]="novaTarefa().descricao" name="descricao" required>
        <br>
        <label for="status">Status:</label>
        <select style="width: 8rem;" id="status" [(ngModel)]="novaTarefa().status" name="status" required>
            <option value="Pendente">Pendente</option>
            <option value="Em Progresso">Em Progresso</option>
            <option value="Concluída">Concluída</option>
        </select>
        <br>
        <button class="btnSubmit" type="submit">Adicionar Tarefa</button>
    </form>

    <div class="list">
        <h2>Lista de Tarefas - Total: {{totalTarefas()}}</h2>
        @for (tarefa of tarefas(); track tarefa.id) {
        <app-tarefa [tarefa]="tarefa" (tarefaExcluida)="onTarefaExcluida(tarefa)"
            (tarefaConcluida)="onTarefaConcluida(tarefa)"></app-tarefa>
        } @empty {
        <span>Nenhuma tarefa cadastrada.</span>
        }
    </div>
</div>